<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Year of the Blog</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Year of the Blog</h1>
    <section>
        <h2>Participants</h2>
        <ul class="list">
            <% feeds.forEach(feed => {
                let d = new Date(feed.items[0]['pubDate'])
            %>
            <li>
                <a href="<%= feed.link %>"><%= feed.title %></a>
                <span>by <%= blogRegistry[feed.feedUrl] %></span>
                <span>last updated <%= new Date(feed.items[0]['pubDate']).toLocaleDateString('en-US', {timeZone: 'UTC'}) %></span>
            </li>
            <%});%>
        </ul>
    </section>
    <section>
        <h2>Rules / Values</h2>
        <ol>
            <li><p>Consistency in practice (Write weekly)</p></li>
            <li><p>Be generous with ourselves (5 sick days)</p></li>
            <li><p>A post has meaning even if no one is there to read it (write for yourself)</p></li>
        </ol>
    </section>
    <section>
        <h2>Read more about the origins of this project...</h2>
        <div class="conversation-container">
        <p>Loney:<br/>One day you came up to me and you told me that 2025 was the Year of the Blog and then you repeated it two more times so I believed you. But I still wanted to know what it was.</p>
        <p>M:<br/>When I said it I wasn't sure, except that I wanted it to happen and I wanted it to happen with you. It was through our conversations that I figured out what the impulse was.</p>

        <p>L:<br/> ... and what is it?</p>

        <p>M:<br/> Carving out a space on the internet that is just for us <i>but also</i> for whoever might find their way there. Michael Chabon wrote a piece once about books being light houses and I think of it a bit like that. A light house is complete in itself, it doesn't require a like or a share to <i>be</i> a light-house but sometimes, it finds a friend who is out wandering.</p>

        <p>L:<br/> I like the serendipity factor here: by writing online, we're opening outselves up to conection without pushing it towards our friends. Blogging is intimate in it's obscurity. Like... wandering through a forest. Not all public property is easy to find.</p>

        <p>M:<br/> I am very ready to spend more time with your words. I often wish I had a rewind button for our conversations. When we first talked you said something I'm still thinking about which was your desire to "be impressed upon, <b>to be influenced</b>" and <i>choosing</i> to be influenced is a powerful act. We are choosing what to feed ourselves.
            <br/><br/>
            We have a lot of chats but in this case I'm less interested in having a conversation than in thinking side by side. Not quite epistolary but connected. I want to get to watch you do your thing and have that make me question mine.
        </p>

        <p>L:<br/> This is a cool counter-practice to posting on social media. I'm reminded of this quote by Alexis Pauline Gumbs "is social media already a technology of bounce, of throwing something out there and seeing what comes back?" which is a really cool way of thinking about how and why we post online. That said, it's not what I want when I'm trying to <b>publish</b>.</p>

        <p>M:<br/> So what do you want from this experience?</p>

        <p>L:<br/> Honestly, to find my center outside of "bounce." I spend a lot of time thinking about if I "have anything to say" or if I'm the "right person" to say it. That is all time I could be spending more deeply investigating myself, my context, and what it is I actually want to say! The world is changing and so am I. I want to keep honing my presence and center and bring that to the way I bounce off of other people. What do you want to get from this experience?</p>

        <p>M:<br/> I find writing a way of shaping thought. And writing in public as a way of sharpening thought. I write in a journal, but that is more emotional triage than anything else. Ultimately, I want to bring clarity to my relationship with the world and the things I care about. </p>
        </div>
    </section>
    <div class="spinner-bg">
    <ul id="list" class="spin">
        <% feeds.forEach(feed => {
            let words = feed.items[0]['content'].split(' ')
            let final = '...'
            if (words.length >= 4) {
                final = `${words[0]} ${words[1]} ${words[2]} ${words[3]} ${words[4]} ${words[5]}...`
            }
        %>
        <div class="ring orbit-<%= blogRegistry[feed.feedUrl] %>">
        <li class="listing">
            <p class="author"><%= blogRegistry[feed.feedUrl] %> 💭:</p>
            <a id="target" href="<%= feed.items[0]['link'] %>"><%- final %></a>
        </li>
        </div>
        <% });%>
    </div>
</div>
</body>
</html>